<div id="footer">
	<div class="footer_content_wrapper">
		<div class="footer_links">
			<%= link_to "Features", features_path %><span>&bull;</span>
			<%= link_to "Support & API", support_path %>
		</div>
		<div class="footer_app_info">&copy; 2010 BASE DATA, ALL RIGHTS RESERVED</div>
	</div>
</div>