<div id="<%= get_footer_css_id %>">
	<div class="footer_content_wrapper">
		<div class="footer_links">
			<%= link_to "Features", :controller => "dashboard", :action => "index" %><span>&bull;</span>
			<%= link_to "Support", :controller => "dashboard", :action => "index" %><span>&bull;</span>
			<%= link_to "API", :controller => "dashboard", :action => "index" %>
		</div>
		<div class="footer_app_info">&copy; 2010 BASE DATA, ALL RIGHTS RESERVED</div>
	</div>
</div>