<div id="features_main_content_wrapper">
	<div id="features_main_content">
		<div id="features_left_content">
			<%= render :partial => "partials/features_nav" %>
		</div>
		<div id="features_right_content">
			<div class="label">DATA MINING</div>
			<div class="body">
				<div class="content">
					Base Data gives you the power to analyze your data for interesting patterns.   
				</div>
			</div>
		</div>
	</div>
</div>