<div id="features_main_content_wrapper">
	<div id="features_main_content">
		<div id="features_left_content">
			<%= render :partial => "partials/features_nav" %>
		</div>
		<div id="features_right_content">
			<div class="label">DATA COLLECTION</div>
			<div class="body">
				<div class="content">
					We collect product data like prices, manufacturer part numbers, UPC numbers and weights from various sources. These results are displayed to you for review in an easy to read format table.
					Here are some of the sources of our data: 
					<ol>
						<li>Query Processing</li>
						<li>Search Agents</li>
						<li>Save Results</li>
					</ol>
					<%= image_tag("overview.png") %>
				</div>
			</div>
		</div>
	</div>
</div>