<div id="features_main_content_wrapper">
	<div id="features_main_content">
		<div id="features_left_content">
			<%= render :partial => "partials/features_nav" %>
		</div>
		<div id="features_right_content">
			<div class="label">DATA COLLECTION</div>
			<div class="body">
				<div class="content">
					With Base Data, all your product data needs are met. Save everything from the latest product prices to unified product codes and weights. Somethings you can do with Base Data:
					<ol>
						<li>Create collections for specific products and schedule automatic runs</li>
						<li>Export collections as csv files at anytime from anywhere</li>
						<li>Integrate Base Data with your applications using our API to populate your internal databases</li>
						<li>Filter data by price ranges, conditions and brands to name a few</li>
					</ol>   
				</div>
			</div>
		</div>
	</div>
</div>