<div id="features_main_content_wrapper">
	<div id="features_main_content">
		<div id="features_left_content">
			<%= render :partial => "partials/features_nav" %>
		</div>
		<div id="features_right_content">
			<div class="label">OVERVIEW</div>
			<div class="body">
				<div class="content">
					Base Data enables you to gather critical product pricing and meta information. Use the simple user interface to save information to a personalized account and access it from anywhere, at any time.<br/><br/>
					Our service runs in a three part process that helps you find the information you need to keep your pricing new and your content fresh:
					<ol>
						<li>Query Processing</li>
						<li>Search Agents</li>
						<li>Save Results</li>
					</ol>
					<%= image_tag("overview.png") %>
				</div>
			</div>
		</div>
	</div>
</div>