<div id="features_main_content_wrapper">
	<div id="features_main_content">
		<div id="features_left_content">
			<%= render :partial => "partials/features_nav" %>
		</div>
		<div id="features_right_content">
			<div class="label">SEO</div>
			<div class="body">
				<div class="content">
					If driving online traffic is your objective then Base Data is your one stop shop for fresh and updated content. Collect product data and fill up those empty catalog pages that never get indexed.
					With Base Data you can attract crawlers that look for fresh content and improve search engine rankings quickly. For e-commerce organizations this is a key factor for success.
					So give us a try to see for yourselves.
				</div>
			</div>
		</div>
	</div>
</div>