<div id="features_main_content_wrapper">
	<div id="features_main_content">
		<div id="features_left_content">
			<%= render :partial => "partials/features_nav" %>
		</div>
		<div id="features_right_content">
			<div class="label">SUPPORT & API</div>
			<div class="body">
				<div class="content">
					For support, please contact us at <a href="mailto:support@basedataapp.com">support (at) basedataapp dot com</a><br/>
					The Base Data API is upcoming and will allow you to manage your account, search for products, create collections, save data and retrieve data.
					Please follow us on <a href="https://twitter.com/basedataapp">Twitter</a> to keep track of changes to the API and general enhancements. 
				</div>
			</div>
		</div>
	</div>
</div>