<div id="features_main_content_wrapper">
	<div id="features_main_content">
		<div id="features_left_content">
			<%= render :partial => "partials/features_nav" %>
		</div>
		<div id="features_right_content">
			<div class="label">TRENDING</div>
			<div class="body">
				<div class="content">
					Collecting data is only half the challenge. Base Data keeps track of marked products and informs you when prices change automatically.
					Keeping daily track of prices helps you make the right business decisions.
				</div>
			</div>
		</div>
	</div>
</div>