<div id="accounts_main_content_wrapper">
	<div id="accounts_main_content">
		<div id="account_settings">
			<div class="label">
				Account Details
				<%= link_to "Edit", edit_account_path(@account), :class => "button" %>
			</div>
			<div class="content">
				<div class="account_details">
					<div class="account_details_label">Name</div>
					<div class="account_details_content"><%= "#{@account.first_name} #{@account.last_name}" %></div>
				</div>
				<div class="account_details">
					<div class="account_details_label">Email</div>
					<div class="account_details_content"><%= @account.email %></div>
				</div>
				<div class="account_details">
					<div class="account_details_label">Membership</div>
					<div class="account_details_content">Since <%= @account.created_at.to_date %></div>
				</div>
			</div>
		</div>
	</div>
</div>